<div class="footerWrapper">
  <footer>
      <section class="desktop">
          <div>
              <p>2017 © Today LA. All rights reserved.</p>
          </div>
          <div>
              <ul>
                  <li><a href="#!/contact">Contact</a></li>
                  <li><a href="#">Privacy</a></li>
              </ul>
          </div>
      </section>

      <section class="mobile">
          <p>
              2017 © Today LA. All rights reserved
          </p>
      </section>
  </footer>
</div>
