<div class="headerWrapper">
  <header>
      <nav>
          <a href="#!/home" class="nav-home active">
              Home
          </a>
      </nav>
      <div class="logo">
          <a href="#!/home" class="logo--link">
              <img src="images/todayLA-temp-logo.png" width="75px" height="75px">
          </a>
      </div>
      <div class="right">
          <!--
          <a href="#!/home" class="cta cta-border cta-transparent cta--sign-up nav-signUp">Find an Event</a>
          -->
      </div>

      <div class="mobile">
          <div class="link active">
              <a href="#!/home" class="nav-home active">
              Home
              </a>
          </div>
          <div class="logo">
              <a href="#!/home" class="logo--link">
                  <img src="images/todayLA-temp-logo.png" width="50px" height="50px">
              </a>
          </div>
      </div>

      <ul class="mobile-dropdown">
          <li>
              <a href="#!/home">
                  Home
              </a>
          </li>
      </ul>
  </header>
</div>

<!-- BODY CONTAINER -->
<div class="page home">
  
  <!-- HEADER SECTION - INTRO -->
  <div class="pageWrapper">
      <div class="centeredContainer">
          <div class="catchZone">
              <div class="hello">
                  <span id="intro">
                      <span class="coolBlue" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">T</span>
                      <span style="opacity: 1; transform: translate3d(0px, 0px, 0px);">o</span>
                      <span style="opacity: 1; transform: translate3d(0px, 0px, 0px);">d</span>
                      <span style="opacity: 1; transform: translate3d(0px, 0px, 0px);">a</span>
                      <span style="opacity: 1; transform: translate3d(0px, 0px, 0px);">y</span>
                  </span>
              </div>
          </div>
          <div class="catchZone">
              <div class="hello">
                  <span id="intro">
                      <span style="opacity: 1; transform: translate3d(0px, 0px, 0px); color:#0f6fa9;">L</span>
                      <span id="last" style="opacity: 1; transform: translate3d(0px, 0px, 0px); color:#1ba2f4;">A</span>
                  </span>
              </div>
          </div>

          <div class="catchPhrase">
              <p>
                  <span style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);">Find something to do</span>
      <span style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);">fast.</span>
              </p>
          </div>

          <div class="catchCta">
          </div>
      </div>
  </div>

  <!-- ACTIVITIES AND FOOD SECTION -->
  <section class="blocks" ng-controller="SelectController">
    <div class="pageWrapper blocksWrapper">
          <!-------------- FOOD SECTION ----------------->
          <section class="block" style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
              <h3 class="block--title">
                  Food
              </h3>
              <span class="block--catch">
                  Search for food spots across L.A.
              </span>
              <div class="block--text">
              </div>
            
              <!-- Title, Search Buttons -->
              <div>
                <!-- BUTTONS -->
                <div class="row text-center" id="buttons" style="margin-top: 3%">
                  <div class="col-md-12">
                    <button class="cta cta-colored cta-blue" ng-model="foodSearchForm" ng-init="foodSearchForm=false" ng-click="findCatOne('Food'); foodSearchForm = !foodSearchForm" class="btn btn-primary">Find Food Event</button>
                  </div>
                </div>
                <!-- CONTENT LINKS AND INFO -->
                <div class="row text-center" id="content" style="margin-top: 2%;" ng-if="randomEvent.length > 0 && selectedCategory === 'Food'">
                  <div class="col-12" id="results">
                    <p>{{randomEvent[0].name}}</p>
                    <p>{{randomEvent[0].details}}</p>
                    <a href="{{randomEvent[0].link}}" target="_blank">Link</a>
                  </div>
                  <div class="col-md-12 text-center" id="options">
                    <button ng-click="clearSearch()" class="btn btn-primary">Clear Search</button>
                  </div>
                </div>
              </div><!-- End Title, Search Buttons -->
            
          <!-- FOOD SUB CATEGORY BUTTONS -->
          <div class="row text-center" ng-show="foodSearchForm">
              <div>
                    <button type="button" class="close" ng-click="foodSearchForm = !foodSearchForm">×</button>
                    <div id="catTwoButtons">
                          <!-- Food Buttons Start -->
                            <form novalidate>
                              <div class="btn-group">
                                
                                  <button class="btn btn-primary" ng-model="foodModel.Casual" uib-btn-checkbox>Casual</button>
                                  <button class="btn btn-primary" ng-model="foodModel.Breakfast" uib-btn-checkbox>Breakfast</button>
                                  <button class="btn btn-primary" ng-model="foodModel.Brunch" uib-btn-checkbox>Brunch</button>

                                
                                  <button class="btn btn-primary" ng-model="foodModel.Lunch" uib-btn-checkbox>Lunch</button>
                                  <button class="btn btn-primary" ng-model="foodModel.Dinner" uib-btn-checkbox>Dinner</button>
                                  <button class="btn btn-primary" ng-model="foodModel.Dessert" uib-btn-checkbox>Dessert</button>

                                
                                  <button class="btn btn-primary" ng-model="foodModel.Romantic" uib-btn-checkbox>Romantic</button>
                                  <button class="btn btn-primary" ng-model="foodModel.FoodTruck" uib-btn-checkbox>Food Truck</button>
                                  <button class="btn btn-primary" ng-model="foodModel.FastFood" uib-btn-checkbox>Fast Food</button>  

                                
                                  <button class="btn btn-primary" ng-model="foodModel.Inexpensive" uib-btn-checkbox>Inexpensive</button>
                                  <button class="btn btn-primary" ng-model="foodModel.Fancy" uib-btn-checkbox>Fancy</button>  
                                  <button class="btn btn-primary" ng-model="foodModel.Fancy" uib-btn-checkbox>Fancy</button>  

                              </div>
                              <!-- Test Data -->
                              <!--<div>
                                <p>Food Results</p>
                                <pre>
                                  {{foodResults}}
                                </pre>
                                <p>Final Data</p>
                                <pre>
                                  {{finalData.length}}
                                </pre>
                                <p>Event</p>
                                <pre>
                                  {{randomEvent[0].name}}
                                  {{randomEvent[0].details}}
                                  {{randomEvent[0].link}}
                                </pre>
                              </div>-->
                            </form>
                            <div>
                                <button class="btn btn-success" ng-click="searchValues(foodResults); foodSearchForm = !foodSearchForm">Search</button>
                                <button class="btn btn-success" ng-click="foodSearchForm = !foodSearchForm">Close</button>
                            </div>

                  </div><!-- End Buttons Col -->
            </div>
          </div><!-- END FOOD SUB CATEGORY BUTTONS -->
          </section><!-- END FOOD SECTION -->
        
          <!-------------- ACTIVITIES SECTION ----------------->
          <section class="block" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;">
              <h3 class="block--title">
                  Activities
              </h3>
              <span class="block--catch">
                  Search for activities across L.A.
              </span>
              <div class="block--text">
              </div>
              <!-------------- ACTIVITY BUTTON START ----------------->
              <!-- Title, Search Buttons -->
              <div>
                <!-- BUTTONS -->
                <div class="row text-center" id="buttons" style="margin-top: 3%">
                  <div class="col-md-12">
                    <button ng-model="activitiesSearchForm" ng-init="activitiesSearchForm=false" ng-click="findCatOne('Activities'); activitiesSearchForm = !activitiesSearchForm" class="cta cta-colored cta-blue">Find Activity</button>
                  </div>
                </div>
                <!-- CONTENT LINKS AND INFO -->
                <div class="row text-center" id="content" style="margin-top: 2%;" ng-if="randomEvent.length > 0 && selectedCategory === 'Activities'">
                  <div class="col-12" id="results">
                    <p>{{randomEvent[0].name}}</p>
                    <p>{{randomEvent[0].details}}</p>
                    <a href="{{randomEvent[0].link}}" target="_blank">Link</a>
                  </div>
                  <div class="col-md-12 text-center" id="options">
                    <button ng-click="clearSearch()" class="btn btn-primary">Clear Search</button>
                  </div>
                </div>
              </div><!-- End Title, Search Buttons -->

              <!-- Start Hidden Food Form -->
              <div id="activitiesSearch" ng-show="activitiesSearchForm">

                <button type="button" class="close" ng-click="activitiesSearchForm = !activitiesSearchForm">×</button>
                
                <!-- Cat 2 Buttons -->
                <div class="row">

                  <!-- Buttons -->
                  <div class="col-md-12 text-center" id="catTwoButtons">

                    <!-- Activity Buttons Start -->
                    <div>
                      <form novalidate>
                          <div class="btn-group">
                            <label class="btn btn-primary" ng-model="activitiesModel.Athletic" uib-btn-checkbox>Athletic</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Nature" uib-btn-checkbox>Nature</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Relaxing" uib-btn-checkbox>Relaxing</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Romantic" uib-btn-checkbox>Romantic</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Games" uib-btn-checkbox>Games</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Cultural" uib-btn-checkbox>Cultural</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Artsy" uib-btn-checkbox>Artsy</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Beauty" uib-btn-checkbox>Beauty</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Inexpensive" uib-btn-checkbox>Inexpensive</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Fancy" uib-btn-checkbox>Fancy</label>
                          </div>
                        </form>
                        <!-- <button ng-repeat="button in activitiesButtons" ng-click="ActivitiesInfo = !ActivitiesInfo">{{button}}</button> -->
                        <div>
                          <button class="btn btn-success" ng-click="searchValues(activitiesResults); activitiesSearchForm = !activitiesSearchForm">Search</button>
                          <button class="btn btn-success" ng-click="activitiesSearchForm = !activitiesSearchForm">Close</button>
                        </div>
                    </div><!-- Activity Buttons End -->
                  </div><!-- End Buttons Col -->
                </div><!-- End Cat 2 Buttons -->

              </div><!-- End Hidden Search Form -->
          </section><!-- END ACTIVITY SECTION -->
      
      </div><!-- page and block wrapper end --> 
    
</section><!-- END ACTIVITIES AND FOOD SECTION -->


  <!-- FEELING LUCKY / RANDOM -->
  <div class="pageWrapper" ng-controller="RandomCtrl">
      <!-- TITLE -->
      <div class="horizontalContainer">
          <div class="catchPhrase catchPhrase-light-margin catchPhrase-large">
              <p class="black">Feeling Lucky?</p>
          </div>
          
          <!-- BUTTON -->
          <div class="catchCta">
              <button ng-model="status" ng-init="status=false" ng-click="searchRandom(); status = !status" href="#random" id="randomButton" class="cta cta-colored cta-blue cta-visible cta-width-strict cta--invite cta--signup">Find a Random Event</button>
          </div>
        
          <!-- CONTENT LINKS AND INFO -->
          <div class="row text-center" id="content">
            <!-- RANDOM INFO -->
            <div class="col-12" id="randomContainer" ng-show="status">
                <h1 id="randomEventTitle">{{event.name}}</h1>
                <p id="randomDetails">{{event.details}}</p>
                <a href="{{event.link}}" id="randomLink" target="_blank">Link to your event</a>
                <br>
                <button ng-click="clearRandomSearch(); status = !status" class="btn btn-primary" id="clearButton">Clear Search</button>
            </div>
          </div><!-- END CONTENT LINKS AND INFO -->
      </div>
  </div><!-- END THIRD SECTION - CTA -->
</div><!-- END BODY CONTAINER  -->

<div class="footerWrapper">
  <footer>
      <section class="desktop">
          <div>
              <p>2017 © Today LA. All rights reserved.</p>
          </div>
          <div>
              <ul>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
              </ul>
          </div>
      </section>

      <section class="mobile">
          <p>
              2017 © Today LA. All rights reserved
          </p>
      </section>
  </footer>
</div>
