<div class="headerWrapper">
  <header>
      <nav>
          <a href="/#">
              Home
          </a>
          <a href="#!/select" class="nav-home active">Select</a>
          <a href="#!/filtersearch">Filter Only</a>
      </nav>
      <div class="logo">
          <a href="/#" class="logo--link">
              <img src="images/todayLA-temp-logo.png" width="75px" height="75px">
          </a>
      </div>
      <div class="right">
          <a href="#!/select" class="cta cta-border cta-transparent cta--sign-up nav-signUp">Find an Event</a>
      </div>

      <div class="mobile">
          <div class="link active">
              <a href="/#">
              Home
              </a>
          </div>
          <div class="logo">
              <a href="/#" class="logo--link">
                  <img src="images/todayLA-temp-logo.png" width="50px" height="50px">
              </a>
          </div>
      </div>

      <ul class="mobile-dropdown">
          <li>
              <a href="/">
                  Home
              </a>
          </li>
      </ul>
  </header>
</div>
<section class="blocks">
      <div class="pageWrapper blocksWrapper">
        <!-- FIRST BLOCK DESCRIPTION -->
          <section class="block" style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
              <h3 class="block--title">
                  Choose
              </h3>
              <span class="block--catch">
                  A Few Simple Event Categories
              </span>
              <div class="block--text">
                  And receive an event instantly.
              </div>
            
              <!-------------- FILTER BUTTON START ----------------->
              <!-- Title, Search Buttons -->
              <div>
                <!-- BUTTONS -->
                <div class="row text-center" id="buttons" style="margin-top: 3%">
                  <div class="col-md-12" id="searchCol">
                    <button ng-model="searchForm" ng-init="searchForm = false" ng-click="searchForm = !searchForm" href="#filter" class="btn btn-md">Filter Event</button>
                  </div>
                </div>
                <!-- CONTENT LINKS AND INFO -->
                <!-- FILTER INFO -->
                <div class="row text-center" id="content">
                  <div class="col-12" id="results">
                  </div>
                  <div class="col-md-12 text-center" id="options">
                    <button onclick="clearSearch()" class="btn btn-primary hide" id="clearButton">Clear Search</button>
                  </div>
                </div>
              </div>

              <!-- Start Hidden Search Form -->
              <div id="search" ng-show="searchForm">

                <button type="button" class="close" ng-click="searchForm = !searchForm">×</button>
                <!-- Cat 1 Buttons Row -->
                <div class="row">
                  <!-- Cat 1 Buttons Col -->
                  <div class="col-md-12 text-center filterButtons">
                    <button ng-model="activityButtons" ng-init="activityButtons = false" ng-click="findCatOne(this.id); activityButtons = !activityButtons" id="Activities" class="btn btn-primary">Activities</button>

                    <button ng-model="foodButtons" ng-init="foodButtons = false" ng-click="findCatOne(this.id); foodButtons = !foodButtons" id="Food" class="btn btn-primary">Food</button>
                  </div><!-- End Cat 1 Buttons Col -->

                </div><!-- End Cat 1 Buttons -->

                <!-- Cat 2 Buttons -->
                <div class="row">

                  <!-- Buttons -->
                  <div class="col-md-12 text-center" id="catTwoButtons">

                    <!-- Food Buttons Start -->
                    <div ng-show="foodButtons">
                      <button ng-click="findCatTwo(this.id); foodButtons = !foodButtons" class="btn btn-primary" id=""></button>
                    </div><!-- Food Buttons End -->

                    <!-- Activity Buttons Start -->
                    <div ng-show="activityButtons">
                      <button ng-click="findCatTwo(this.id); activityButtons = !activityButtons" class="btn btn-primary" id=""></button>
                    </div><!-- Activity Buttons End -->

                  </div><!-- End Buttons Col -->

                  <!-- Clear Search -->
              <!--
                  <div class="col-md-12 text-center" id="options">
                    <button onclick="clearSearch()" class="btn btn-primary hide" id="clearButton">Clear Search</button>
                  </div>
              -->

                </div><!-- End Cat 2 Buttons -->


              </div><!-- End Hidden Search Form -->
              <!-------------- END FILTER BUTTON ----------------->
          </section>
        
          <!-- SECOND BLOCK DESCRIPTION -->
          <section class="block" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;" ng-controller="RandomCtrl">
              <h3 class="block--title">
                  Don't Choose
              </h3>
              <span class="block--catch">
                  Just click.
              </span>
              <div class="block--text">
                  And receive an event instantly.
              </div>
              <!-------------- RANDOM BUTTON START ----------------->
              <div>
                <div>
                <!-- BUTTONS -->
                <div class="row text-center" id="buttons" style="margin-top: 3%">
                  <div class="col-md-12" id="random">
                    <button ng-model="status" ng-init="status=false" ng-click="searchRandom(); status = !status" href="#random" id="randomButton" class="btn btn-md">Random Event</button>
                  </div>
                </div>
              </div>

              <!-- CONTENT LINKS AND INFO -->
                <div class="row text-center" id="content">
                  <!-- RANDOM INFO -->
                  <div class="col-12" id="randomContainer" ng-show="status">
                      <h2 id="randomEventTitle" class="retroshd"></h2>
                      <p id="randomDetails"></p>
                      <a href="" id="randomLink" target="_blank"></a>
                      <br>
                      <button ng-click="clearRandomSearch(); status = !status" class="btn btn-primary" id="clearButton">Clear Search</button>
                  </div>
                </div><!-- END CONTENT LINKS AND INFO -->
              </div><!-------------- END RANDOM BUTTON ----------------->
              
          </section>
        <!-- THIRD BLOCK DESCRIPTION -->
          <!--<section class="block" style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
              <h3 class="block--title">
                  Either Way
              </h3>
              <span class="block--catch">
                  You save time finding the event.
              </span>
              <div class="block--text">
                  And have more time enjoying it.
              </div>
          </section>
-->      </div>
  </section>

