<div class="headerWrapper">
  <header>
      <nav>
          <a href="#!/view4">
              Home
          </a>
          <a href="#!/select" class="nav-home active">Select</a>
          <a href="#!/filtersearch">Filter Only</a>
      </nav>
      <div class="logo">
          <a href="/#" class="logo--link">
              <img src="images/todayLA-temp-logo.png" width="75px" height="75px">
          </a>
      </div>
      <div class="right">
          <a href="#!/select" class="cta cta-border cta-transparent cta--sign-up nav-signUp">Find an Event</a>
      </div>

      <div class="mobile">
          <div class="link active">
              <a href="#!/view4">
              Home
              </a>
          </div>
          <div class="logo">
              <a href="#!/view4" class="logo--link">
                  <img src="images/todayLA-temp-logo.png" width="50px" height="50px">
              </a>
          </div>
      </div>

      <ul class="mobile-dropdown">
          <li>
              <a href="#!/view4">
                  Home
              </a>
          </li>
      </ul>
  </header>
</div>

<!-- ACTIVITIES AND FOOD SECTION -->
<section class="blocks">
  <div class="pageWrapper blocksWrapper">
          <!-- FOOD SECTION  -->
          <section class="block" style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
              <h3 class="block--title">
                  Food
              </h3>
              <span class="block--catch">
                  Search for food spots across L.A.
              </span>
              <div class="block--text">
              </div>
            
              <!-------------- FOOD BUTTON START ----------------->
              <!-- Title, Search Buttons -->
              <div>
                <!-- BUTTONS -->
                <div class="row text-center" id="buttons" style="margin-top: 3%">
                  <div class="col-md-12">
                    <button ng-model="foodSearchForm" ng-init="foodSearchForm=false" ng-click=" findCatOne('Food'); foodSearchForm = !foodSearchForm" class="btn btn-primary">Find Food Event</button>
                  </div>
                  <!-- MODAL START -->
                  <div ng-controller="ModalDemoCtrl as $ctrl">
                    <!-- Start Modal Content -->
                      <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <ul>
                                <li ng-repeat="item in $ctrl.items">
                                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                                </li>
                            </ul>
                            Selected: <b>{{ $ctrl.selected.item }}</b>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                        </div>
                      </script><!-- End Modal Content -->
                      <!-- Start Modal Button -->
                      <div class="col-md-12">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Large modal</button>
                      </div><!-- End Modal Button -->
                  </div><!-- END MODAL -->
                </div><!-- END BUTTON CONTAINER-->
                <!-- CONTENT LINKS AND INFO -->
                <!-- FILTER INFO -->
                <div class="row text-center" id="content">
                  <div class="col-12" id="results">
                  </div>
                  <div class="col-md-12 text-center" id="options">
                    <button onclick="clearSearch()" class="btn btn-primary hide" id="clearButton">Clear Search</button>
                  </div>
                </div>
              </div><!-- End Title, Search Buttons -->

              <!-- Start Hidden Food Form -->
              <div id="foodSearch" ng-show="foodSearchForm">

                <button type="button" class="close" ng-click="foodSearchForm = !foodSearchForm">×</button>
                
                <!-- Cat 2 Buttons -->
              <div class="row">

                <!-- Buttons -->
                <div class="col-md-12 text-center" id="catTwoButtons">

                  <!-- Food Buttons Start -->
                  <div>
                    <form novalidate>
                      <div class="btn-group">
                        <label class="btn btn-primary" ng-model="foodModel.Casual" uib-btn-checkbox>Casual</label>
                        <label class="btn btn-primary" ng-model="foodModel.Breakfast" uib-btn-checkbox>Breakfast</label>
                        <label class="btn btn-primary" ng-model="foodModel.Brunch" uib-btn-checkbox>Brunch</label>
                        <label class="btn btn-primary" ng-model="foodModel.Lunch" uib-btn-checkbox>Lunch</label>
                        <label class="btn btn-primary" ng-model="foodModel.Dinner" uib-btn-checkbox>Dinner</label>
                        <label class="btn btn-primary" ng-model="foodModel.Dessert" uib-btn-checkbox>Dessert</label>
                        <label class="btn btn-primary" ng-model="foodModel.Romantic" uib-btn-checkbox>Romantic</label>
                        <label class="btn btn-primary" ng-model="foodModel.FoodTruck" uib-btn-checkbox>Food Truck</label>
                        <label class="btn btn-primary" ng-model="foodModel.FastFood" uib-btn-checkbox>Fast Food</label>
                        <label class="btn btn-primary" ng-model="foodModel.Inexpensive" uib-btn-checkbox>Inexpensive</label>
                        <label class="btn btn-primary" ng-model="foodModel.Fancy" uib-btn-checkbox>Fancy</label>
                      </div>
                      <div>
                        <button class="btn btn-primary" ng-click="searchValues(foodResults)">Search</button>
                      </div>

                      <div>
                        <pre>
                          {{foodResults}}
                        </pre>

                        <pre>
                          {{finalData.length}}
                        </pre>
                      </div>

                    </form>
                <!--             <button class="btn btn-primary" ng-repeat="button in foodButtons" ng-click="FoodInfo = !FoodInfo">{{button}}</button> -->
            </div><!-- Food Buttons End -->

        </div><!-- End Buttons Col -->
        
        <!-- Clear Search -->
        <!--
            <div class="col-md-12 text-center" id="options">
              <button onclick="clearSearch()" class="btn btn-primary hide" id="clearButton">Clear Search</button>
            </div>
        -->

          </div><!-- End Cat 2 Buttons -->
      </div><!-- End Hidden Search Form -->
              
            <!-------------- END FOOD BUTTON ----------------->
          </section><!-- END FOOD SECTION -->
        
          <!-- ACTIVITY SECTION -->
          <section class="block" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px;">
              <h3 class="block--title">
                  Activities
              </h3>
              <span class="block--catch">
                  Search for activities across L.A.
              </span>
              <div class="block--text">
              </div>
              <!-------------- ACTIVITY BUTTON START ----------------->
              <!-- Title, Search Buttons -->
              <div>
                <!-- BUTTONS -->
                <div class="row text-center" id="buttons" style="margin-top: 3%">
                  <div class="col-md-12">
                    <button ng-model="activitiesSearchForm" ng-init="activitiesSearchForm=false" ng-click=" findCatOne('Activities'); activitiesSearchForm = !activitiesSearchForm" class="btn btn-primary">Find Activity</button>
                  </div>
                </div>
                <!-- CONTENT LINKS AND INFO -->
                <!-- FILTER INFO -->
                <div class="row text-center" id="content">
                  <div class="col-12" id="results">
                  </div>
                  <div class="col-md-12 text-center" id="options">
                    <button onclick="clearSearch()" class="btn btn-primary hide" id="clearButton">Clear Search</button>
                  </div>
                </div>
              </div><!-- End Title, Search Buttons -->

              <!-- Start Hidden Food Form -->
              <div id="activitiesSearch" ng-show="activitiesSearchForm">

                <button type="button" class="close" ng-click="activitiesSearchForm = !activitiesSearchForm">×</button>
                
                <!-- Cat 2 Buttons -->
                <div class="row">

                  <!-- Buttons -->
                  <div class="col-md-12 text-center" id="catTwoButtons">

                    <!-- Activity Buttons Start -->
                    <div ng-show="activitiesSearchForm">
                      <form novalidate>
                          <div class="btn-group">
                            <label class="btn btn-primary" ng-model="activitiesModel.Athletic" uib-btn-checkbox>Athletic</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Nature" uib-btn-checkbox>Nature</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Relaxing" uib-btn-checkbox>Relaxing</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Romantic" uib-btn-checkbox>Romantic</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Games" uib-btn-checkbox>Games</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Cultural" uib-btn-checkbox>Cultural</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Artsy" uib-btn-checkbox>Artsy</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Beauty" uib-btn-checkbox>Beauty</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Inexpensive" uib-btn-checkbox>Inexpensive</label>
                            <label class="btn btn-primary" ng-model="activitiesModel.Fancy" uib-btn-checkbox>Fancy</label>
                          </div>
                          <div>
                            <button class="btn btn-primary" ng-click="searchValues(activitiesResults)">Search</button>
                          </div>
                          <pre>
                            {{activitiesResults}}
                          </pre>
                          <pre>
                            {{finalData.length}}
                          </pre>

                        </form>
                        <!-- <button ng-repeat="button in activitiesButtons" ng-click="ActivitiesInfo = !ActivitiesInfo">{{button}}</button> -->
                    </div><!-- Activity Buttons End -->

                  </div><!-- End Buttons Col -->

                  <!-- Clear Search -->
              <!--
                  <div class="col-md-12 text-center" id="options">
                    <button onclick="clearSearch()" class="btn btn-primary hide" id="clearButton">Clear Search</button>
                  </div>
              -->

                </div><!-- End Cat 2 Buttons -->

              </div><!-- End Hidden Search Form -->
          </section><!-- END ACTIVITY SECTION -->
    
      </div><!-- page and block wrapper end -->    
</section><!-- END ACTIVITIES AND FOOD SECTION -->


<!-- RANDOM / FEELING LUCKY SECTION -->
<section class="block" style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);" ng-controller="RandomCtrl">
              <h3 class="block--title">
                  Feeling Lucky?
              </h3>
              <div class="block--text">
                  Find a Random Event
              </div>
              <!-------------- RANDOM BUTTON START ----------------->
                <div>
                <!-- BUTTONS -->
                <div class="row text-center" id="buttons" style="margin-top: 3%">
                  <div class="col-md-12" id="random">
                    <button ng-model="status" ng-init="status=false" ng-click="searchRandom(); status = !status" href="#random" id="randomButton" class="btn btn-md">Random Event</button>
                  </div>
                </div>
              </div>

              <!-- CONTENT LINKS AND INFO -->
                <div class="row text-center" id="content">
                  <!-- RANDOM INFO -->
                  <div class="col-12" id="randomContainer" ng-show="status">
                      <h2 id="randomEventTitle" class="retroshd"></h2>
                      <p id="randomDetails"></p>
                      <a href="" id="randomLink" target="_blank"></a>
                      <br>
                      <button ng-click="clearRandomSearch(); status = !status" class="btn btn-primary" id="clearButton">Clear Search</button>
                  </div>
                </div><!-- END CONTENT LINKS AND INFO -->
          </section><!-- END RANDOM / FEELING LUCKY SECTION -->

<section class="block" style="opacity: 1; transform-origin: center center 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
</section>
