<div>
  <div>
  <!-- BUTTONS -->
  <div class="row text-center" id="buttons">
    <div class="col-md-6" id="random">
      <button ng-model="status" ng-init="status=false" ng-click="searchRandom(); status = !status" href="#random" id="randomButton" class="btn btn-md">Random Event</button>
    </div>
  </div>
</div>

<!-- CONTENT LINKS AND INFO -->
  <div class="row text-center" id="content">
  <!-- RANDOM INFO -->
  <div class="col-12" id="randomContainer" ng-show="status">
      <h2 id="randomEventTitle" class="retroshd"></h2>
      <p id="randomDetails"></p>
      <a href="" id="randomLink" target="_blank"></a>
      <br>
      <button ng-click="clearRandomSearch(); status = !status" class="btn btn-primary" id="clearButton">Clear Search</button>
  </div>
</div>
</div>