  <div class="page contact">
      <div class="pageContent">
          <div class="centeredContainer">
              <h2 class="headerTitle">
                  <span>H</span>
                  <span>e</span>
                  <span>l</span>
                  <span>p</span>
                  <span>?</span>
              </h2>
              <h4 class="headerSubtitle">
                Questions? Concerns? Updates?<br/>
                We love feedback and suggestions for new exciting places in eats in Los Angeles!
              </h4>
          </div>

          <div class="contactBox" style="opacity: 1;">
              <a href="mailto:itsTodayLA@gmail.com" target="_blank" ga-on="click,auxclick,contextmenu" ga-event-category="emailClick" ga-event-action="contact">
                  <p>
                    <b style="color:#1ba2f4">Email</b>
                  </p>
                  <br>
                  <p>itstodayla@gmail.com</p>
              </a>
          </div>

          <footer></footer>
      </div>
</div>
  <!-- Old Footer -->
  <!--
<div class="footerWrapper">
                    <footer>
                        <section class="desktop">
                            <div>
                                <div class="logo">
                                    <a href="#" class="logo--link">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="38" height="28" viewBox="0 0 38 28">
                                          <defs>
                                            <style>
                                              .cls-1 {
                                                fill: #33afff;
                                                fill-rule: evenodd;
                                              }
                                            </style>
                                          </defs>
                                          <path d="M28.375,26.781 L28.375,27.000 L13.969,27.000 L13.969,26.999 C13.963,26.999 13.958,27.000 13.953,27.000 C6.799,27.000 1.000,21.180 1.000,14.000 C1.000,6.820 6.799,1.000 13.953,1.000 C17.920,1.000 21.465,2.794 23.841,5.612 C24.602,5.441 25.391,5.344 26.203,5.344 C32.166,5.344 37.000,10.192 37.000,16.172 C37.000,21.406 33.297,25.772 28.375,26.781 Z" class="cls-1"></path>
                                        </svg>
                                    </a>
                                </div>
                                <p>2016 © Nuage Inc. All rights reserved.</p>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a target="_blank" href="https://medium.com/@nuage">Blog</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                    <li><a href="/privacy">Privacy</a></li>
                                    <li><a href="/q-and-a">Q &amp; A</a></li>
                                </ul>
                            </div>
                        </section>

                        <section class="mobile">
                            <p>
                                2016 © Nuage Inc - All Right reserved.
                                Privacy and Terms of Use
                            </p>
                        </section>
                    </footer>
                </div>
-->

  <!-- GA Autotrack JS -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-108524643-1', 'auto');

  // Plugins
  ga('require', 'eventTracker');
  ga('require', 'urlChangeTracker');
    
  ga('set', 'page', '/contact.html');
  ga('send', 'pageview');
  </script>
  <!-- Events Tracked -->
  <!-- 
  INITIAL VIEW
  Email: emailClick
  -->