  <!-- Events Tracked -->
  <!-- 
  INITIAL VIEW
  Email: emailClick
  -->

  <div class="page contact">
      <div class="pageContent">
          <div class="centeredContainer">
              <h2 class="headerTitle">
                  <span>C</span>
                  <span>o</span>
                  <span>n</span>
                  <span>t</span>
                  <span>a</span>
                  <span>c</span>
                  <span>t</span>
              </h2>
              <h4 class="headerSubtitle">
                Questions? Concerns? Updates?<br/>
                We love feedback and suggestions for new and exciting places and eats in Los Angeles!
              </h4>
          </div>

          <div class="contactBox" style="opacity: 1;">
              <a href="mailto:itsTodayLA@gmail.com" target="_blank" ga-on="click,auxclick,contextmenu" ga-event-category="emailClick" ga-event-action="contact">
                  <p>
                    <b style="color:#1ba2f4">Email</b>
                  </p>
                  <br>
                  <p>itstodayla@gmail.com</p>
              </a>
          </div>

          <footer></footer>
      </div>
</div>

  <!-- GA Autotrack JS -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-108524643-1', 'auto');

  // Plugins
  ga('require', 'eventTracker');
  ga('require', 'urlChangeTracker');
    
  ga('set', 'page', '/contact.html');
  ga('send', 'pageview');
  </script>