<div class="page contact">
      <div class="pageContent">
          <div class="centeredContainer">
              <h2 class="headerTitle">
                  <span>C</span>
                  <span>h</span>
                  <span>a</span>
                  <span>t</span>
                  <span>?</span>
              </h2>
              <h4 class="headerSubtitle">No Problemo. Call Us or Send an Email.</h4>
          </div>

          <div class="contactBox" style="opacity: 1;">
              <a href="mailto:contact@todayla.com" target="_blank">
                  <p>
                      <b style="color:#1ba2f4">Email</b>
                  </p>
                  <p>We'll respond within 24 hours.</p>
              </a>
              <a href="tel:+18552223333" target="_blank">
                  <p>
                      <b style="color:#f58b24">Call Us</b>
                  </p>
                  <p>Click here, or dial (855) 222-3333</p>
              </a>
          </div>

          <footer></footer>
      </div>
</div>

<!--
<div class="footerWrapper">
                    <footer>
                        <section class="desktop">
                            <div>
                                <div class="logo">
                                    <a href="#" class="logo--link">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="38" height="28" viewBox="0 0 38 28">
                                          <defs>
                                            <style>
                                              .cls-1 {
                                                fill: #33afff;
                                                fill-rule: evenodd;
                                              }
                                            </style>
                                          </defs>
                                          <path d="M28.375,26.781 L28.375,27.000 L13.969,27.000 L13.969,26.999 C13.963,26.999 13.958,27.000 13.953,27.000 C6.799,27.000 1.000,21.180 1.000,14.000 C1.000,6.820 6.799,1.000 13.953,1.000 C17.920,1.000 21.465,2.794 23.841,5.612 C24.602,5.441 25.391,5.344 26.203,5.344 C32.166,5.344 37.000,10.192 37.000,16.172 C37.000,21.406 33.297,25.772 28.375,26.781 Z" class="cls-1"></path>
                                        </svg>
                                    </a>
                                </div>
                                <p>2016 © Nuage Inc. All rights reserved.</p>
                            </div>
                            <div>
                                <ul>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a target="_blank" href="https://medium.com/@nuage">Blog</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                    <li><a href="/privacy">Privacy</a></li>
                                    <li><a href="/q-and-a">Q &amp; A</a></li>
                                </ul>
                            </div>
                        </section>

                        <section class="mobile">
                            <p>
                                2016 © Nuage Inc - All Right reserved.
                                Privacy and Terms of Use
                            </p>
                        </section>
                    </footer>
                </div>
-->
